@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  font-family: "Segoe UI", Arial, sans-serif;
  height: 100%;
  font-size: 1rem;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  background: rgb(244, 221, 4);
  background: -moz-radial-gradient(
    circle,
    rgba(244, 221, 4, 1) 0%,
    rgba(244, 187, 0, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(244, 221, 4, 1) 0%,
    rgba(244, 187, 0, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(244, 221, 4, 1) 0%,
    rgba(244, 187, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4dd04",endColorstr="#f4bb00",GradientType=1);
}

//tester
// p {
//   color: blue;
// }
